
// --- Colors --- //
$primary-color: #f5a623;
$secondary-color: #272727;
$third-color: #d3d3d3;
$fourth-color: #f6f6f6;
$fifth-color: #868686;


// --- Fonts --- //
$primary-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$secondary-font: ArialRoundedMT;