@charset "UTF-8";
@import '../../libs-polyfills/reset';
@import 'variables';
@import 'mixins';

// div{
//     border: 1px solid red;
// }

/* ---- reset ---- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: $fourth-color;
}

/* ---- typography ---- */
h2 {
    color: $secondary-color;
}
p {
    color: $fifth-color;
    margin: 0;
    padding: 0;
}

/* ---- layout ---- */
#products-list{
    background-color: #fff;
    border: 1px solid $third-color;
    border-radius: 2px;
    margin-bottom: 20px;
}
.container {
    margin: 0 10px;
}
.section {
    margin-bottom: 20px;
    padding-top: 20px;
}

/* ---- components ---- */

// -- site-header -- //
#site-header{
    margin-bottom: 40px;
    background-color: #fff;
}
#site-header img{
    width: 40%;
    margin-left: 30%;
}

// -- product card -- //
.product-header{
    font-size: 26px;
    font-family: $primary-font;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid $fourth-color;
    h1{
        padding-top: 10px;
        margin-bottom: 60px;
    }
} 
.labels{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: $primary-font;
    font-weight: bold;
}
.product-card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $fourth-color;
}
.card-left{
    display: flex;
    img{
        width: 70px;
        height: 70px;
    }
} 
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    p{
        font-size: 12px;
        font-family: $primary-font;
        font-weight: bold;
    }
    h2{
        font-family: $primary-font;
        font-size: 14px;
        margin-bottom: 10px;
    }
    input{
        width: 30px;
        padding: 5px;
        text-align: center;
    }
} 
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    button{
        @include primary-button;
    }
}

// -- shopping cart -- //

#shopping-cart{
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid $third-color;
    h1{
        margin-bottom: 20px;
        padding: 0px;
    }
    .product-header{
        border: none;
    }
}
#empty-cart{
    margin-bottom: 40px;
    p{
        @include error-message;
        margin: 20px 20px;
    }
}